<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://p.trellocdn.com/power-up.min.js"></script>
</head>
<body>
  <div>
    <label>Filter by card name:</label>
    <input type="text" id="card-name-filter" placeholder="Enter card name">
  </div>
  <div>
    <label>Filter by users:</label>
    <div id="users-list"></div>
  </div>
  <button id="apply-filters">Apply Filters</button>
  <button id="clear-filters">Clear Filters</button>
  <script src="../js/views/board-filters.js"></script>
</body>
</html>
